{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour</a>
{% endblock %}
