<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Prostage{% endblock %}</title>

        {% block stylesheets %}
          <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
          <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        {% endblock %}

    </head>
    <body>

        {% block menu %}{% endblock %}

        <h1>------------------- MENU ------------------- <i class="icon-home"></i></h1>

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

        <h1>------------------ FOOTER ------------------</h1>

        {% block javascripts %}
          <script src="{{asset('/js/bootstrap.bundle.min.js')}}"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
          <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
