<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Prostage{% endblock %}</title>

        {% block stylesheets %}
          <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
          <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        {% endblock %}

    </head>
    <body>
      <div class="container-fluid">
        {% block menu %}
          <div class="row">
            <div class="col-md-12">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/stages">Liste des stages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/entreprises">Liste des entreprises</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/formations">Liste des formations</a>
                </li>
              </ul>
            </div>
          </div>
        {% endblock %}

        {% block body %}
          <div class="row">
            <div class="col-md-12">
              <h1>{% block titrePage %}{% endblock %}</h1>
                <p>
                  {% block contenuPage %}{% endblock %}
                </p>
            </div>
          </div>
        {% endblock %}

        {% block footer %}
        <div class="row">
          <div class="col-md-12">
            Site créé par A. Fleury
          </div>
        </div>
        {% endblock %}

        {% block javascripts %}
          <script src="{{asset('/js/bootstrap.bundle.js')}}"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
          <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% endblock %}
      </div>
    </body>
</html>
